<main>
	<%= render 'home/list' %>
	<div class="container">
		<div class="row">
			<div class="top">
			<!-- 	<div class="photo"><img class="size" src="assets/top1.jpg" style="width:800px;height:600px;"></div>
				<div class="photo"><img class="size" src="assets/top2.jpg" style="width:800px;height:600px;"></div>
				<div class="photo"><img class="size" src="assets/top3.jpg" style="width:800px;height:600px;" ></div> -->
			</div>
		</div>
	</div>
</main>